{% load static %}



<header class="site-navbar mt-3">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="site-logo col-6"><a href="{% url 'home' %}">Jobbers</a></div>

      <nav class="mx-auto site-navigation">
        <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
    
          <li><a href="{% url 'home' %}" class="nav-link active">Home</a></li>
          <li><a href="{% url 'jobs:job-view' %}">Jobs</a></li>
          <li><a href="{% url 'jobs:about-view' %}">About</a></li>
          <li><a href="{% url 'jobs:contact-us' %}">Contact</a></li>
          <li><a href="{% url 'jobs:our-services' %}"> Services</a></li>
          
        </ul>
      </nav>

      {% if user.is_authenticated %}

      <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
        <div class="ml-auto">
          <ul class="nav nav-tabs">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="True" aria-expanded="false">
                {{request.user.first_name}} {{request.user.last_name}}
              </a>
                <div class="dropdown-menu">
                   <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
          </ul>
        </div>
      </div>

      {% else %}

      <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
        <div class="ml-auto">
          <ul class="nav nav-tabs">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="True" aria-expanded="false">
              </a>
                <div class="dropdown-menu">
                   <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                   <a class="dropdown-item" href="{% url 'user:register' %}">Register</a>
                </div>
            </li>
          </ul>
        </div>
      </div>

{% endif %}
    </div>
  </div>
</header>